.advantages {
    padding: 100px 0;
    &__descr {
        margin-top: 35px;
    }
    &__wrapper {
        display: flex;
        gap: 12%;
    }
    &__info {
        width: 29%;
    }
    &__cards {
        width: 59%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__card {
        background-color: var(--color-gray-200);
        border-radius: 10px;
        padding: 20px;
        flex: 1 1 calc(50% - 10px);
        .divider {
            margin-top: 15px;
        }
        &-heading {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 700;
        }
        &-descr {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 1199.99px) {
    .advantages__wrapper {
        gap: 50px;
    }
    .advantages__info {
        width: calc(40% - 25px);
    }
    .advantages__cards {
        width: calc(60% - 25px);
    }
}

@media screen and (max-width: 1024.99px) {
    .advantages {
        padding: 60px 0;
    }
    .advantages__wrapper {
        flex-wrap: wrap;
    }
    .advantages__info {
        width: 100%;
    }
    .advantages__cards {
        width: 100%;
    }
}

@media screen and (max-width: 640.99px) {
    .advantages__card-icon {
        display: none;
    }
}