.deffects {
    margin-top: 100px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 35px;
    }
    &__card {
        border-radius: 10px;
        width: calc(33.333% - 14px);
        &-img {
            background-color: var(--color-gray-300);
            height: 180px;
            position: relative;
            border-radius: 10px 10px 0 0;
        }
        .label {
            position: absolute;
            font-size: 12px;
            background-color: var(--color--white);
            height: 25px;
            padding: 0 10px;
            border-radius: 25px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            left: 20px;
            top: 20px;
        }
        &-info {
            background-color: var(--color-gray-200);
            padding: 20px;
            border-radius: 0 0 10px 10px;
        }
        &-title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
}
.deffects__slider-mobile {
    display: none;
}

@media screen and (max-width: 1024.99px) {
    .deffects {
        margin-top: 60px;
    }
    .deffects__card {
        width: calc(50% - 10px);
    }
    
}

@media screen and (max-width: 767.99px) {
    .deffects__slider-mobile {
        display: block;
        margin-top: 25px;
    }
    .deffects__wrapper {
        display: none;
    }
}