@use 'utilities/variables';

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
  }

// === SPACING ===
.spacer {
	display: block;
	width: 100%;
	&--40    { height: 40px }
	&--72    { height: 72px }
	&--80    { height: 80px }
	&--120   { height: 120px }
	&--150   { height: 150px }
    &--200   { height: 200px }
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1524px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    &.container-sm {
        max-width: 1200px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .2s linear;
}

p {
    margin: 0;
    padding: 0;
}

img, svg, video  {
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    font-family: inherit;
}

@media screen and (max-width: 1199.99px) {
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 1024.99px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 640.99px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}